flexible/node_modules/**
standard/node_modules/**
flexible/npm-debug.log
standard/npm-debug.logs

**/coverage/

dump.rdb
logs/
*.iml
*.pb
**/.idea/
**/.nyc_output
flexible/yarn.lock
standard/yarn.lock
flexible/package-lock.json
standard/package-lock.json
